.wc-notice{
    text-align: center;
    margin-bottom: 15px;
    span{
        display: inline-block;
        background: rgb(224, 224, 224);
        border-radius: 8px;
        padding: 5px 10px;
        color: rgb(128, 128, 128);
        font-size: 14px;
    }
}